* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
    
}

.header {
    width: 600px;
    height: 48px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    min-height: 100vh;
    background-color: #FFFFFF; 
    margin: 0;
}
button{
    text-align:left;
    background: url("../assets/Search.svg") no-repeat ;
    background-position: 5px center;
    background-size: 20px 20px;
    width: 528px;
    height: 38px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: none;
    padding-left: 30px;
}
.bag1{
    padding-left: 5px;
    padding-top: 7px;
    width: 28px;
    height: 28px;
}